<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='JS/icon_dropdown_list.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icon_dropdown_list.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Customer base.css') }}">
    {% block Head_JS_CSS %}{% endblock %}
    <title>{% block title %}{% endblock%}</title>
</head>
<body>
    <nav class="custom-nav navbar navbar-expand-lg bg-body-tertiary border-bottom border-bottom-dark sticky-top">
        <div class="container-fluid px-5">
            <a class="navbar-brand col-1" href="#">
                <!-- <img src="{{ url_for('static', filename='images/favicon.svg') }}" alt="Greenify Trademark" class="trademark"> -->
                <span class="brand">Greenify</span>
            </a>

            <!-- Hamburg Icon -->
            <button class="navbar-toggler col-1 me-auto float-start" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Offcanvas -->
            <div class="collapse navbar-collapse offcanvas container-fluid offcanvas-start sidebar" id="offcanvasNavbar" tabindex="-1">

                <!-- Offcanvas Head -->
                <div class="offcanvas-header border-end w-100">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close d-none d-md-block d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <!-- Offcanvas Body -->
                <div class="offcanvas-body text-center d-flex ">
                    <ul class="navbar-nav justify-content-start align-items-center fs-5 flex-grow-1">
                        <li class="nav-item"><a href="#">Home</a></li>
                        <li class="nav-item"><a href="#">About Us</a></li>
                        <li class="nav-item"><a href="#">Games</a></li>
                    </ul>
                </div>
            </div>

            <!-- Search Engine -->
            <div>
                <form class="d-flex" role="search">
                    <input class="form-control me-2 search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-sm custom-btn" type="submit">Search</button>
                </form>
            </div>

            <!--Shopping Cart-->
            <a href="cart-page.html" class="btn cart-container col-1 position-relative">
                <i class="bi bi-bag"></i>
                <span id="cart-item-qty" class="badge rounded-pill text-black">{{ saved_cart_qty }}</span>
            </a>

            <!--Account-->
            <div class="dropdown">
<!--            <a class="btn col-1 d-flex justify-content-center account w-20">-->
                <i class="bi bi-person-circle" id="dropdownIcon" onclick="toggleDropdown()"></i>
<!--            </a>-->
             <!-- Dropdown content -->
          <div class="dropdown-content" id="myDropdown">
            <!-- Your dropdown items go here -->
            <a href="/login">Login as User</a>
            <a href="/stafflogin">Login as Staff</a>
            <a href="/sellerlogin">Login as Seller</a>
          </div>
        </div>
        </div>
    </nav>




    <div class="container-fluid content" id="content-body">
        {% block body %}{% endblock %}
    </div>

    {% block End_JS_CSS %}{% endblock %}
</body>
</html>