{% extends "customer/Customer_Base.html" %}
{% block Head_JS_CSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/customer_account.css') }}" />
{% block Add_Head_JS_CSS %}
{% endblock %}
{% endblock %}

{% block title%}{%endblock %}

{% block body %}
<div class="row m-5">
    <div class="nav col-4 d-flex flex-column align-items-center">
        <div class="nav-box text-center">
            <a href="{{ url_for('profile', user_id_hash=user) }}" class="m-3"><p>Account</p></a>
            <a href="{{ url_for('order_history', user_id_hash=user) }}" class="m-3"><p>Order History</p></a>
        </div>
    </div>
    <div class="content col-8">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block End_JS_CSS %}
{% endblock %}