{% extends "customer/Customer_Base.html" %}

{% block Head_JS_CSS %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
<script src="{{url_for('static', filename='JS/homepage1.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">
<script>$SCRIPT_ROOT = {{ request.script_root|tojson }}</script>
<script type="text/javascript" src="{{ url_for('static', filename='JS/chatbot.js') }}"></script>
{% endblock %}

{% block title%}Homepage{% endblock %}

{% block body %}
    <!-- hero section -->
    <header class="hero-section">
        <div class="content">
            <p class="sub-heading">Most Sustainable E-commerce Website Of All Time</p>
            <img src="{{ url_for('static', filename='images/#') }}" alt="jsfdj i need a nicer pic" height = 525px width = 2000px>
        </div>
    </header>

    <!-- chatbot -->
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support</h4>
                        <p class="chatbox__description--header">Hello. My name is Greeny. How can I help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <!--to open chatbox-->
            <div class="chatbox__button">
                <button><img src="{{ url_for('static', filename='images/chatbot_icon.png') }}" /></button>
            </div>
        </div>
    </div>

    <!-- The discount section -->
    <section class="product">
        <h2 class="product-category">Promotions</h2>
        <button class="pre-btn"><img src="{{ url_for('static', filename='images/arrow.png') }}" alt="Prev"></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="#" class="product-thumb" alt="">
                    <button class="card-btn">Redeem</button>
                </div>
                <div class="product-info">
                    <p class="product-short-des">a short line about the discount</p>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="#" class="product-thumb" alt="">
                    <button class="card-btn">Redeem</button>
                </div>
                <div class="product-info">
                    <p class="product-short-des">a short line about the discount</p>
                </div>
            </div>
        </div>
        <button class="nxt-btn"><img src="{{ url_for('static', filename='images/arrow.png') }}" alt="Next"></button>
    </section>



    <!-- // inside product section. -->

    <section class="product">
        <h2 class="product-category">best selling</h2>
        <button class="pre-btn"><img src="{{ url_for('static', filename='images/arrow.png') }}" alt="Previous"></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
        
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>     
        </div>
        <button class="nxt-btn"><img src="{{ url_for('static', filename='images/arrow.png') }}" alt="Next"></button>
    </section>

     <!-- The discount section -->
     <section class="product">
        <h2 class="product-category">Clothes</h2>
        <button class="pre-btn"><img src="{{ url_for('static', filename='images/arrow.png') }}" alt="Prev"></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <span class="price">$20</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
        </div>
        <button class="nxt-btn"><img src="{{ url_for('static', filename='images/arrow.png') }}" alt="Next"></button>
    </section>
    




    <footer>
        <div class="footer-container">
            <p class="footer-title">about company</p>
            <p class="info">support emails - help@cherylisdying.com, customersupport@clothing.com</p>
            <p class="info">telephone - 63 1234 4488, 4321 8844</p>
            <div class="footer-social-container">
                <div>
                    <a href="#" class="social-link">terms & services</a>
                </div>
                <div>
                    <a href="#" class="social-link">instagram</a>
                    <a href="#" class="social-link">facebook</a>
                    <a href="#" class="social-link">twitter</a>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}