{% extends "customer/Customer_Base.html" %}

{% block Head_JS_CSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/product_all.css') }}">
{% endblock %}

{% block title %}Homepage{% endblock %}

{% block body %}

<!-- video background -->
<style>
    .video-background {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .video-cta {
        position: absolute;
        top: 90%;
        /* Adjust this value as needed to move the button up or down */
        right: 10%;
        /* Place the button towards the right of the container */
        transform: translateY(-50%);
        /* Center the button vertically */
        z-index: 2;
        /* Ensure it's above the video */
    }

    .video-button {
        background-color: #4CAF50;
        /* Green background */
        border: none;
        /* Remove border if any */
        color: white;
        /* Button text color */
        padding: 10px 20px;
        /* Adjust button padding */
        font-size: 20px;
        /* Adjust font size */
        text-decoration: none;
        /* Remove underline from anchor link */
        cursor: pointer;
        /* Change cursor to pointer on hover */
        border-radius: 5px;
        /* Optional: add border-radius for rounded corners */
    }

    video {
        width: 100%;
        max-height: 90vh;
        object-fit: cover;
    }
</style>


<!-- video background -->
<div class="video-background" style="z-index:-10;">
    <div class="video-wrap">
        <video src="{{ url_for('static', filename='images/homepagevid.mp4') }}" autoplay loop muted playsinline></video>
    </div>
    <!-- Go to Products Button -->
    <div class="video-cta">
        <a href="{{ url_for('product_all') }}" class="btn btn-primary video-button">Go to Products</a>
    </div>
</div>


<!-- Products display section -->
<div class="container my-5">
    <h1>All Products</h1>
    <div class="row row-cols-lg-4 row-cols-2 my-5">
        {% for seller, product in all_result %}
        <div class="col indv-prod ms-3">
            <a href="{{ url_for('product', seller=seller, product_id=product.get_product_id()) }}">
                <div class="image">
                    <!-- Corrected way to access the product image -->
                    <img src="{{ url_for('static', filename='uploads/product_image/' + product.get_image()) }}" alt=""
                        style="max-height: 200px; width: auto; object-fit: contain;">
                </div>
                <!-- Corrected way to access the product name and price -->
                <p class="product-name my-2">{{ product.get_product_name() }}</p>
                <p class="product-price">$ {{ "%.2f"|format(product.get_product_price()) }}</p>
            </a>
        </div>
        {% endfor %}

    </div>
</div>




{% endblock %}