{% extends "customer/Customer_Base.html" %}
{% block Head_JS_CSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/starrating.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}" />
{% endblock %}

{% block title%} {{ product.get_product_name() }} | Greenify {%endblock %}


{% block body %}
{% from "includes/_formHelper.html" import render_field %}

<div class="item row justify-content-between">
  <div class="row justify-content-between">
    <div class="col-6">
      <div class="image container">
        <img src="{{ url_for('static', filename='images/Tupperware 2.jpg') }}">
      </div>
    </div>
    <form method="post" class="col-6 d-none d-lg-flex flex-column justify-content-center align-items-center">
      <div class="product-selection">
        <h1 class="product-name my-5">{{ product.get_product_name() }}</h1>
        <div class="my-4">
          <h5 class="fs-4 my-3">Qty</h5>
          <div class="qty-selection d-flex">
            <i class="bi bi-plus-lg d-flex justify-content-center align-items-center" id="increment"></i>
            <span class="d-flex align-items-center justify-content-center" id="qty-count">1</span>
            <i class="bi bi-dash-lg d-flex justify-content-center align-items-center" id="decrement"></i>
          </div>
        </div>

        <div class="my-4">
          <h5 id="price" class="fs-2">${{ "%.2f"|format(product.get_product_price()) }}</h5>
        </div>

        <div class="my-4">
          {% if user == None %}
          <button type="button" id="addCart">
            <a href="{{ url_for('login') }}"><i class="bi bi-bag-plus me-3"></i>Add to Cart</a>
          </button>
          {% else %}
          <button type="button" class="btn" id="addCart"
            onclick="addToCart({{ product.get_product_id() }}, {{ seller_id }}, '{{ seller }}' )">
            <i class="bi bi-bag-plus me-3"></i>Add to Cart
          </button>
          {% endif %}
        </div>
      </div>
    </form>
  </div>

  <form method="post" class="col-6 d-lg-none flex-column justify-content-center align-items-center">
    <div class="product-selection">
      <h1 class="product-name my-5">{{ product.get_product_name() }}</h1>
      <div class="my-4">
        <h5 class="fs-4 my-3">Qty</h5>
        <div class="qty-selection d-flex">
          <i class="bi bi-plus-lg d-flex justify-content-center align-items-center" id="increment"></i>
          <span class="d-flex align-items-center justify-content-center" id="qty-count">1</span>
          <i class="bi bi-dash-lg d-flex justify-content-center align-items-center" id="decrement"></i>
        </div>
      </div>

      <div class="my-4">
        <h5 id="price" class="fs-2">${{ "%.2f"|format(product.get_product_price()) }}</h5>
      </div>

      <div class="my-4">
        {% if user == None %}
        <button type="button" id="addCart">
          <a href="{{ url_for('login') }}"><i class="bi bi-bag-plus me-3"></i>Add to Cart</a>
        </button>
        {% else %}
        <button type="button" class="btn" id="addCart"
          onclick="addToCart({{ product.get_product_id() }}, {{ seller_id }}, '{{ seller }}' )">
          <i class="bi bi-bag-plus me-3"></i>Add to Cart
        </button>
        {% endif %}
      </div>
    </div>
  </form>



  <div class="item product-desp">
    <h3>Product Description</h3>
    <p>{{ product.get_description() }}</p>
  </div>


<div class="item product-review">
  <h3>Product Review</h3>

  <div class="form-group mb-4">
    <div class="rating-wrapper">
        <p>My Rating:</p>
        <img id="1" src="{{url_for('static', filename='images/star.png')}}" width="20" onclick="updateStarRating(1)">
        <img id="2" src="{{url_for('static', filename='images/star.png')}}" width="20" onclick="updateStarRating(2)">
        <img id="3" src="{{url_for('static', filename='images/star.png')}}" width="20" onclick="updateStarRating(3)">
        <img id="4" src="{{url_for('static', filename='images/star.png')}}" width="20" onclick="updateStarRating(4)">
        <img id="5" src="{{url_for('static', filename='images/star.png')}}" width="20" onclick="updateStarRating(5)">
        <button onclick="clearStarRating()">Clear</button>
    </div>
    <input type="hidden" id="rating" name="rating" value="">
  </div>
  <div class="form-group">
        <label for="review">Write your review:</label>
        <textarea name="review" id="review" rows="5" class="form-control" placeholder="Enter your review..." required></textarea>
    </div>
    <div class="pt-3">
        <button type="button" class="btn btn-secondary" id="customer_feedback" onclick="customer_feedback({{ seller_id }}, {{ product.get_product_id() }})">Submit</button>
    </div>

</div>


</div>



{% endblock %}
