{% extends "customer/Customer_Base.html" %}
{% block Head_JS_CSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
{% endblock %}

{% block title %} Shopping Cart{% endblock%}

{% block body %}

<h1>Shopping Cart</h1>

<div class="product-showcase container-md ms-1">
  <table class="mx-5 text-center table table-striped">
    <thead class="text-center">
      <tr>
        <th>Product</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for product in display_shopping_cart %}
      <tr class="product-container container" id="product-{{ display_shopping_cart.index(product) }}">
        <td>
          <div class="product-img-name d-flex flex-row">
            <a href=" {{ url_for('product', seller=product['seller_name'], product_id=product['product'].get_product_id()) }}">
              <img src="{{ url_for('static', filename='uploads/product_image/' + product['product'].get_image()) }}"
                alt="image of {{ product['product'].get_product_name() }}">
            </a>
            <p class="my-auto ms-4">
              <a
                href=" {{ url_for('product', seller=product['seller_name'], product_id=product['product'].get_product_id()) }}">
                {{ product['product'].get_product_name() }}</a>
            </p>
          </div>
        </td>
        <td>
          <p class="my-0">${{ "%.2f"|format(product['product'].get_product_price()) }}</p>
        </td>
        <td>
          <div class="qty-selector d-flex flex-row justify-content-around align-items-center">
            <p class="mx-1 my-auto">Qty:</p>
            <i class="bi bi-plus-lg mx-2"
              onclick="increment({{ display_shopping_cart.index(product) }}, {{ product['product'].get_product_price() }}, '{{ product['seller_name'] }}', {{ product['product'].get_product_id() }})"></i>
            <span class="mx-2" id="qty-count-{{ display_shopping_cart.index(product) }}">{{ product['product_qty']
              }}</span>
            <i class="bi bi-dash-lg mx-2"
              onclick="decrement({{ display_shopping_cart.index(product) }}, {{ product['product'].get_product_price() }}, '{{ product['seller_name'] }}', {{ product['product'].get_product_id() }})"></i>
          </div>
        </td>
        <td>
          <div class="indv-total-price">$<span id="price-{{ display_shopping_cart.index(product) }}">{{
              "%.2f"|format(product['product_qty'] * product['product'].get_product_price()) }}</span></div>
        </td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger mx-5" data-bs-toggle="modal"
            data-bs-target="#modal-{{ display_shopping_cart.index(product) }}">
            Delete
          </button>

          <!-- Modal -->
          <div class="modal fade" id="modal-{{ display_shopping_cart.index(product) }}" tabindex="-1"
            aria-labelledby="modalLabel-{{ display_shopping_cart.index(product) }}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="modalLabel-{{ display_shopping_cart.index(product) }}">Confirmation
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fs-3">
                  Do you really want to remove product?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                  <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    onclick="removeProduct({{ display_shopping_cart.index(product) }}, '{{ product['seller_name'] }}', {{ product['product'].get_product_id() }})">Yes</button>
                </div>
              </div>
            </div>
          </div>
        </td>

      </tr>
      {% endfor %}
    </tbody>


  </table>
</div>

<div class="cart-summary row row-cols-2 w-25 ms-auto">
  <div class="cart-summary-label col-6 py-3"><p class="fw-bold">Subtotal:</p></div>
  <div class="cart-summary-content col-6 py-3">
    $<span id="subtotal"></span>
  </div>
  <div class="cart-summary-label col-6 py-3"><p class="fw-bold">Shipping Fee:</p></div>
  <div class="cart-summary-content col-6 py-3">
    <span>$2.00</span>
  </div>
  <div class="promo-code col-12 py-3">
    <div class="cart-summary-label"><p class="fw-bold">Promo Code:</p></div>
    <div>
      <input type="text" id="promo-code-input" class="is-invalid w-50">
      <button class="btn btn-dark" id="promo-code-btn" onclick="applyPromoCode()">Apply</button>
    </div>
  </div>
  <div class="cart-summary-label py-3"><p class="fw-bold">Promo:</p></div>
  <div class="cart-summary-content py-3">
    -$<span id="promo-price">0</span>
  </div>
  <div class="cart-summary-label py-3"><p class="fw-bold">Total:</p></div>
  <div class="cart-summary-content py-3">
    $<span id="total-price"></span>
  </div>
  <div class="col-12 py-3">
    <button class="btn btn-danger ms-auto" onclick="checkout()">Checkout</button>
  </div>
</div>


{% endblock %}

{% block End_JS_CSS %}
<script type="text/javascript" src="{{ url_for('static', filename='JS/cart.js') }}"></script>
{% endblock %}