<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/components.css') }}">
    {% block JS_CSS %}{% endblock %}
    <!-- fontawesome for icons -->
    <script src="https://kit.fontawesome.com/344ef59591.js" crossorigin="anonymous"></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
</head>
<body>
    <div class="sidebar">
        <div class="side-nav">
             <div class="logo" id="mylogo">
                    <img src="{{ url_for('static', filename='images/favicon.svg') }}" alt="logo">
                    <!-- <span class="brand">Greenify</span> -->
                </div>
            <a class="side-nav-link" id="dashboard" href="/staff/dashboard">
                <i class="fa-solid fa-chart-line"></i>
                <span class="nav-link-text">Dashboard</span>
            </a>
            <a class="side-nav-link" id="business" href="/staff/retrieveSellers">
                <i class="fa-solid fa-users"></i>
                <span class="nav-link-text">Businesses</span>
            </a>
            <a class="side-nav-link" id="appForm" href="/staff/retrieveApplicationForms">
                <i class="fa-solid fa-list"></i>
                <span class="nav-link-text">Application Forms</span> 
            </a>
            <a class="side-nav-link" id="updateForm" href="/staff/retrieveUpdateForms">
                <i class="fa-solid fa-star"></i>
                <span class="nav-link-text">Update Forms</span>  
            </a>
             <a class="side-nav-link" id="logout" href="{{ url_for('staff_logout') }}" >
            <i class="fa-solid fa-house"></i>
                <span class="nav-link-text">Log Out</span>
            </a>
             <a class="side-nav-link" id="back_top_home" href="{{ url_for('home') }}">
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span class="nav-link-text">Back to Home</span>
            </a>
        </div>
      </div>
      <div class="content">
        {% block content %} {% endblock %}
      </div>
    <!-- own script -->

    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
  <script src="{{url_for('static' ,filename = 'js/staff_chart.js')}}"></script>

  <script src="{{url_for('static',filename = 'js/staff.js')}}"></script>
</body>

</html>