<head>
  <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
  />

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
    crossorigin="anonymous"
  />
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/components.css') }}"
  />
  {% block JS_CSS %}{% endblock %}
</head>
{% macro orderComponent(status,obj,products,orders) %}
<div class="card" id="card-{{obj.get_email()}}">
      <div
      class="row card-body ">
      <div class="col-2 text-center fw-normal">{{obj.get_name()}}</div>
            <div class="col-2 text-center fw-normal">
          {{obj.get_email()}}
      </div>
      <div class="col-3 text-center fw-normal">
          {{obj.get_address()}}
      </div>
      <div class="col-1 text-center fw-normal">
          {{obj.get_order_products()|length}}
      </div>



      {% if status == "to_send" %}
          <div class="col-2 text-center fw-normal">
              {{obj.get_date()}}
          </div>
          <div class="col-1 text-center fw-normal">
          <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#approveModal-{{obj.get_email()}}" >
              Send
            </button>

            <!-- Modal -->
            <div class="modal fade" id="approveModal-{{obj.get_email()}}" tabindex="-1"
                 role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="approveModalLabel">Have you send the order for {{obj.get_name()}} ....? </h5>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to send the receipt to <b>{{obj.get_name()}}</b> ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="w-full btn btn-primary" data-bs-dismiss="modal" onclick="handleSendingOrder('{{obj.get_order_id()}}','{{obj.get_email()}}')">Send</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
      </div>
          {% else %}
          <div class="col-3 text-center fw-normal">
              {{obj.get_date()}}
          </div>
      {% endif %}
      <div class="col-1">
        <a class="btn btn-sm btn-light" data-bs-toggle="collapse" href="#collapse{{obj.get_email()}}" role="button" aria-expanded="false" aria-controls="collapse{{obj.get_email()}}"> <i class="fa-solid fa-caret-down"></i> </a>
      </div>
      </div>

      <div class="row">
          <div class="collapse multi-collapse" id="collapse{{obj.get_email()}}">
         <div class="container">
                <div class="mx-5">
                    <hr>
                 <div class="row">
                    <div class="col-8">
                        <h6 class="fw-bold">Ordered Items</h6>
                        <div class="row">
                        <div class="row card-body">
                        <div class="col-2">
                            product image
                        </div>
                            <div class="col-4">
                            product name
                        </div>
                         <div class="col-3">
                            Quantity
                        </div>
                         <div class="col-3">
                            total price
                        </div>
                    </div>
                    </div>
                        {% for i in obj.get_order_products() %}
                        <div class="row">
                        <div class="row card-body">

                        <div class="col-2">
                         <a href="{{ url_for('display_image', filename= products[0][i['product_id']].get_image()) }}">
                            <img src="{{ url_for('static', filename='uploads/product_image/' +  products[0][i['product_id']].get_image()) }}" alt="Product Image" style="max-width: 100%; max-height: 200px;">
                        </a>

                        </div>
                        <div class="col-4 fw-normal">
                            {{products[0][i['product_id']].get_product_name()}}
                        </div>
                         <div class="col-3 fw-normal">
                             {{i['quantity']}}
                             <div class="d-none">
                                 {{obj.set_total_products(i['quantity'])}}
                             </div>
                        </div>
                         <div class="col-3 fw-normal" data="{{products[0][i['product_id']].get_product_price()*i['quantity']}}" >
                            {{i['product_price']}}
                        <div class="d-none">{{obj.set_total(products[0][i['product_id']].get_product_price()*i['quantity'])}}</div>
                        </div>
                    </div>
                    </div>
                        {% endfor %}
                    </div>
                     <div class="col-4">
                               <h6 class="fw-bold">Total Costs: {{obj.get_total()}}</h6>
                           <h6 class="fw-bold">Total Products Sold: {{obj.get_total_products()}}</h6>
                        </div>
                 </div>
                     <hr>
                   <div>
                    <h6 class="fw-bold">Shipping Address</h6>
                    <p class="fw-normal">{{obj.get_address()}}</p>
                 </div>
             <div>
             </div>
        </div>
         </div>
      </div>
  </div>
</div>
{% endmacro %}

