<head>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/components.css') }}">
    {% block JS_CSS %}{% endblock %}
</head>
{% macro dataComponent(seller_id_hash,seller_id, product_id, product_name, description, product_price, product_stock, image) -%}
    <div class='card'>
        <div class="row card-body">
            <div class="col-1 text-center">{{product_id}}</div>
            <div class="col-2 text-center">{{product_name}}</div>
            <div class="col-3 text-center">{{description}}</div>
            <div class="col-1 text-center">{{product_price}}</div>
            <div class="col-1 text-center">{{product_stock}}</div>
            <div class="col-2 text-center">
                {% if image %}
                    <a href="{{ url_for('display_image', filename=image) }}">
                        <img src="{{ url_for('static', filename='uploads/product_image/' + image) }}" alt="Product Image" style="max-width: 100%; max-height: 200px;">
                    </a>
                {% else %}
                    <p>No image available</p>
                {% endif %}
            </div>

            <div class="col-2 text-center">
                <a href="{{ url_for('update_product', seller_id=seller_id_hash, product_id=product_id) }}">
                    <button class="btn btn-primary btn-sm my-2">Update</button>
                </a>
                <form action="{{ url_for('delete_product', seller_id=seller_id, product_id=product_id) }}" method="POST">
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#myModal_{{product_id}}">
                        Delete
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{product_id}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    Are you sure you want to delete {{ product_name }}?
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{%- endmacro %}
