<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greenify - Seller</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">
    {% block JS_CSS %}{% endblock %}
    <!-- fontawesome for icons -->
    <script src="https://kit.fontawesome.com/344ef59591.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="sidebar">
        <div class="side-nav">
            <div class="logo" id="mylogo">
                <!-- <img src="{{ url_for('static', filename='images/favicon.svg') }}" alt="logo"> -->
                <span class="brand">greenify</span>
            </div>
            <a class="side-nav-link" id="dashboard" href="/seller/dashboard">
                <i class="fa-solid fa-chart-line"></i>
                <span class="nav-link-text">Dashboard</span>
            </a>
<!--            working on the href for retrieving product -->
            <a class="side-nav-link" id="retrieve" href = "/seller/{{seller_id}}/retrieveProducts">
                <i class="fa-solid fa-users"></i>
                <span class="nav-link-text">Products</span>
            </a>
            <a class="side-nav-link" id="orders" href="/seller/orders">
                <i class="fa-solid fa-list"></i>
                <span class="nav-link-text">Orders</span>
            </a>
            <a class="side-nav-link" id="setting" href="/staff/profileSetting">
                <i class="fa-solid fa-gear"></i>
                <span class="nav-link-text">Profile</span>
            </a>
        </div>
      </div>
      <div class="content">
        {% block content %} {% endblock %}
      </div>
    <!-- own script -->
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>

</html>