{% extends "includes/staff_seller/baseLayout.html" %}
{% from "includes/staff_seller/scorecard_component.html" import scoreCard%}
{% block title %}Application Forms{% endblock %}
{% block content %}
<h4>Staff's Dashboard</h4>
<div class="d-flex gap-3 mt-4">
    <div>
        {{scoreCard('Total Sellers',sellers_count|length,"fa-solid fa-user-group",'+25% than last week')}}
    </div>
    <div>
        {{scoreCard('Total Website Users', users_count|length,"fa-solid fa-user-group",'+25% than last week')}}
    </div>
     <div>
        {{scoreCard('Seller Application Forms', app_count|length,"fa-solid fa-book",'+25% than last week')}}
    </div>
</div>
<canvas id="myChart" style="width:100%;max-width:700px"></canvas>
{% endblock %}


