{% extends "includes/staff_seller/baseLayout.html" %}
{% from "includes/staff_seller/accordion_component.html" import accordionComponent%}
{% block title %}Application Forms{% endblock %}
{% block content %}
<h3>Application forms</h3>
<div class="py-3 d-flex flex-column gap-2">
    {% if count == 0 %}
    <div class="d-flex justify-content-center align-items-center">
        <h4>No requests</h4>
    </div>
    {% elif count > 0 %}
    <div class="d-flex justify-content-between align-items-center">
        <div class="">Requests :<b>{{count}}</b></div>
        <div class="">
            <button class="btn btn-light">Filter by Date</button>
        </div>
    </div>
    <div class="d-flex flex-column gap-2">
        <div class='card'>
            <div class="row card-body head">
                <div class="col-1 text-center">ID</div>
            <div class="col-2 text-center">Business Name</div>
            <div class="col-3 text-center">Business Description</div>
            <div class="col-1 text-center">
                Certificate
            </div>
                <div class="col-2 text-center">
                Date
            </div>
            <div class="col-2 text-center">
                Actions
            </div>
            <div class="col-1 text-center"></div>
            </div>
          </div>
          {% for i in app_list %}
  <div>
    {{ accordionComponent(
         i.get_application_id(),
         i.get_name(),i.get_name()|replace("'", "\\'"),
         i.get_email(),
         i.get_desc(),
         i.get_doc().split('/')[-1] if i.get_doc() and '/' in i.get_doc() else '',
         i.get_doc() if i.get_doc() else '',
         i.get_date()
       )
    }}
  </div>
{% endfor %}

          
    </div>
    {% endif %}

  
    

</div>
{% endblock %}