@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');
@font-face {
    font-family: 'Voga';
    src: url('../brand_font/Voga-Medium.otf') format('opentype');
}
:root{
    --theme-color: #378753;
    --theme-color-light: #a4aba0;
    --theme-color-dark:#244429;
    --theme-black:#1c1c1c;
    --theme-white:#f3f2f2;
    --theme-light-gray:#F5F5F5;
    --unactive-color: #a3c3a8;
    --unactive-dark-color: #182d1b;
    --inter-font: 'Inter', sans-serif;
    --brand-font: 'Voga', serif;

}
.brand{
    font-family: var(--brand-font);
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
}
.theme-background-light{
    background-color: var(--theme-color-light);
}
.custom-btn{
    background-color: var(--theme-black);
    color: var(--theme-white);
}
.custom-btn:hover{
    background-color: #000;
    color: var(--theme-white);
}
.outline-none{
outline:none;
border:0;
}
.no-background{
background-color:transparent;}
.no-list-style{
list-style:none;
}
.profile-dummy{
background-color:#fad280;
border-radius:5px;
display:grid;
justify-content:center;
align-items:center;
font-size:1.2em;
font-weight:bold;
width:100%;
height:3.5em;
color:orange;
}
