@import url(./common.css);
.dataContainer{
    display: grid;
    grid-template-columns: 5% 35% 35% 20% 5%;
    gap: 1em;
}
.profile-sm{
    width: 2em;
    height:2em;
    border-radius: 50%;
    object-fit: cover;
}
.pdf-thumbnail{
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 80% auto;
}

.thumbnail-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--unactive-color);
    font-size: 30px;
}
.thumbnail-cover:hover{
    background-color: var(--theme-light-gray);
    color: var(--unactive-dark-color);
}  
.thumbnail-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-black);
} 
