.main {
        background-color: #FFFFFF;
        width: 400px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

.header {
        padding-top: 40px;
        color: #000000;
        font-weight: bold;
        font-size: 23px;
    }

#password {
    width: 76%;
    margin-left: 39px;
    text-align: center;
    margin-bottom: 40px;
    }

#email {
    width: 76%;
    margin-left: 39px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    }

#name {
    width: 76%;
    margin-left: 39px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    }

#contact_number {
    width: 76%;
    margin-left: 39px;
    text-align: center;
    margin-bottom: 15px;
    }

#postal_code {
    width: 76%;
    margin-left: 39px;
    text-align: center;
    margin-bottom: 15px;
    }

#address {
    width: 76%;
    margin-left: 39px;
    text-align: center;
    margin-bottom: 15px;
    }

#SignUp {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #020202, #090909);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 20px;
        margin-left: 100px;
        margin-bottom:21px;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }

#Next {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #020202, #090909);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 20px;
        margin-left: 35%;
        margin-bottom:21px;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }

.login-link {
    color: #007bff;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

.info {
    text-align: center;
}

.logo {
  display: block;
  position: absolute; top: 20;
  float: right;
    margin: 0 0 0 510px;
}

img {
  width: 150%
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.inactive[data-tab-content] {
  display: none;
  visibility: hidden;
}

.tab.active {
  background-color: #CCC;
}

body {
  padding: 0;
  margin: 0;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #CCC;
}

.tab:hover {
  background-color: #AAA;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}