#account_info {
        background-color: #FFFFFF;
        width: 400px;
        margin: 7em auto;
        margin-bottom: -30px;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        margin-top: 45px;
    }

#address_info {
        background-color: #FFFFFF;
        width: 400px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        margin-top: 60px;
        margin-bottom: 30px;
    }

.header {
        padding-top: 40px;
        margin-left: 60px;
        color: #000000;
        font-weight: bold;
        font-size: 23px;
    }

.sub-header {
        padding-top: 10px;
        color: #000000;
        font-weight: bold;
        font-size: 19px;
    }

#update {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #020202, #090909);
        border: 0;
        padding-left: 40px;
        padding-right: 43px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 20px;
        margin-left: 134px;
        margin-bottom:5px;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }

#delete {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background-color: #FF0000;
        border: 0;
        padding-left: 40px;
        padding-right: 46px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left: 489px;
        margin-bottom:5px;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }

#logout {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background-color: #0000FF;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left: 490px;
        margin-bottom:5px;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }

.home-icon {
      float: right;
      padding-top: 10px;
      padding-left: 25px;
    }

.bi-house-door {
      font-size: 2em;
      color: ##000000;
    }

.icon-link {
      text-decoration: none; /* Remove underline from the link */
      color: inherit; /* Inherit the color from the parent */
    }

/* Password Input Styles */
.custom-input-group {
    width: 76%;
    margin-left: 39px;
    text-align: center;
    margin-bottom: 15px;
    display: flex;
}

#password {
    width: 93%;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 5px;
}

/* Eye Icon Styles */
.custom-addon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    cursor: pointer;
}

#passBtn {
    font-size: 20px;
}

#passBtn2 {
    font-size: 20px;
}

label {
margin-left: 42px;
}

#confirm_password {
    width: 93%;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 5px;
}

#email {
    width: 76%;
    margin-left: 39px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    }

#email-input {
margin-left: 39px;
}

#name-input {
margin-left: 39px;
}

#name {
    width: 76%;
    margin-left: 39px;
    text-align: center;
    margin-bottom: 10px;
    }

#contact_number {
    width: 76%;
    margin-left: 39px;
    text-align: center;
    margin-bottom: 10px;
    }

#contact_number-input {
margin-left: 39px;
}

#postal_code {
    width: 76%;
    margin-left: 39px;
    text-align: center;
    margin-bottom: 10px;
    }

#postal_code-input {
margin-left: 39px;
}

#address {
    width: 76%;
    margin-left: 39px;
    text-align: center;
    margin-bottom: 10px;
    }

#address-input {
margin-left: 39px;
}