@import url(./common.css);

.brand{
  font-size:2.3em ;
}

body {
    margin: 0;
    font-family: var(--inter-font);
  }
  .sidebar {
    margin: 0;
    width: 18%;
    background-color: var(--theme-color);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .side-nav{
    margin-top: .2em;
  }
  .logo{
    padding: 1em 2em;
    cursor: pointer;
  }
  .side-nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    color:var( --unactive-color);
    padding:1em 2em;
    text-decoration: none;
  }
   
  .active {
    font-weight: bold;
    color: var(--theme-black);
  }
  
  .side-nav-link:hover:not(.active) {
    background-color: var(--theme-color-light);
    color: var(--theme-white);
  }
  
  div.content {
    margin-left: 18%;
    padding:1.5em 2em;
    height: 1000px;
  }
  /* for staff side card */
  .head{
    font-weight: bold;
}
.my-card{
min-height:9em;
min-width:18em;
display:grid;
align-items:center;
}
  @media screen and (max-width: 700px) {
    .side-nav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .side-nav-link {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .side-nav-link {
      text-align: center;
      float: none;
    }
  }