@import url(./common.css);

.brand{
  font-size:2.3em ;
}

body {
    margin: 0;
    font-family: var(--inter-font);
  }
  .sidebar {
    margin: 0;
    width: 18%;
    background-color: var(--theme-color);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .side-nav{
    margin-top: .2em;
  }
  .logo{
    padding: 1em 2em;
    cursor: pointer;
  }
  .side-nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    color:var( --unactive-color);
    padding:1em 2em;
    text-decoration: none;
  }
   
  .active {
    font-weight: bold;
    color: var(--theme-black);
  }
  
  .side-nav-link:hover:not(.active) {
    background-color: var(--theme-color-light);
    color: var(--theme-white);
  }
  
  div.content {
    margin-left: 18%;
    padding:1.5em 2em;
  }
  .content::webkit-scrollbar{
  display:none;
  }
  /* for staff side card */
  .head{
    font-weight: bold;
}
.my-card{
min-height:9em;
min-width:18em;
display:grid;
align-items:center;
}

.fixed-container{
height:80vh;
overflow:scroll
}
.fixed-container-sm{
height:55vh;
overflow:scroll
}
.fixed-container::-webkit-scrollbar, .fixed-container-sm::-webkit-scrollbar{
    display: none;
}

  @media screen and (max-width: 700px) {
    .side-nav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .side-nav-link {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .side-nav-link {
      text-align: center;
      float: none;
    }
  }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropdown-content {
    display: block;
}