{% extends "includes/staff_seller/sellerBaseLayout.html" %}
{% from "includes/staff_seller/sellerDataComponent.html" import accordionComponent%}
{% from "includes/staff_seller/scorecard_component.html" import scoreCard%}

{% block title %}Application Forms{% endblock %}
{% block content %}
<h4>Welcome <i>{{seller_name}}</i></h4>

    <div class="d-flex gap-3 mt-4">
    <div>
        {{scoreCard('Total Revenue - commission 10% ', earning,"fa-solid fa-sack-dollar",'+25% than last week')}}
    </div>
    <div>
        {{scoreCard('Sold Out', sold_out,"fa-solid fa-boxes-packing",'+25% than last week')}}

    </div>
        </div>
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>



{% endblock %}


