{% from "includes/_formHelper.html" import render_field %}
<html>
  <head>
    <title>Greenify - Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
  <h3>Welcome to Greenify, please spend a moment and register an account with us :)</h3>
  <form method="POST">
    <div class="form-group">
      <input class="form-control" placeholder="Your Email Address" name="email">
    </div>
    <br>
    <div class="form-group">
      <input class="form-control" placeholder="Password" name="password" type="password">
    </div>
    <br>
    <input type="submit" value="Sign Up" class="btn btn-dark"/>
  </form>
      Already have an account? Login <a href="/login">here</a>
    </div>
  </body>
</html>

