<html>
  <head>
    <title>Greenify - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form method="POST">
        <input type="text" class="form-control" placeholder="Your Email" name="Email">
        <br>
        <input class="form-control" placeholder="Password" name="Password" type="password">
        <br>
        <input class="btn btn-dark" type="submit" value="Login">
      </form>
    </div>
  </body>
</html>